* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
.header-container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.logo-link {
  margin-right: auto;
}
.logo {
  height: 70px;
}
.nav-list {
  line-height: 70px;
  list-style: none;
  display: flex;
}
.nav-link {
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
  padding: 0 30px;
}
#mv {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: bottom;
}
.mv-container {
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
}
.mv-heading {
  font-size: 64px;
  color: #fafafa;
}
.mv-text {
  padding-top: 10px;
  font-size: 20px;
  color: #fafafa;
}
.container {
  width: 100%;
  padding: 90px 0;
  text-align: center;
}
#portfolio {
  background-color: #eceff1;
}
.heading {
  font-size: 32px;
  color: #000;
  margin-bottom: 8px;
}
.underline {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 0 auto;
}
.text {
  font-size: 16px;
  color: #000;
}
.heading-text {
  margin: 30px 0;
}
.pf-container {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.pf-img {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.pf-img:nth-child(3n) {
  margin-right: 0;
}
.pf-img:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.pf-img1 {
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}
.pf-img2 {
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}
.pf-img3 {
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}
.pf-img4 {
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}
.pf-img5 {
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}
.pf-img6 {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}
.f-container {
  width: 980px;
  margin: 0 auto;
  display: flex;
}
.strength-box {
  width: 320px;
  margin-right: 10px;
}
.strength-box:last-child {
  margin-right: 0;
}
.s-icon {
  font-size: 60px;
}
.s-heading {
  font-size: 20px;
  color: #000;
  margin: 10px 0;
}
.s-text {
  text-align: start;
}
#profile {
  background-color: #eceff1;
}
.p-container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}
.face-img-box {
  width: 512px;
  display: flex;
  align-items: center;
}
.face-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-image: url(img/my-icon.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.profile-box {
  width: 512px;
  text-align: start;
}
.p-heading,
.info-heading {
  font-size: 20px;
  margin-bottom: 5px;
}
.p-heading:last-of-type,
.info-heading:nth-of-type(2n) {
  margin-top: 20px;
}
.c-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
}
.info-box {
  width: 400px;
  text-align: start;
}
.mail-tel {
  width: 150px;
  margin: 0 auto;
}
.sns {
  width: 190px;
  margin: 0 auto;
}
.sns-icon {
  font-size: 50px;
  margin-right: 20px;
}
.sns-icon:last-child {
  margin-right: 0;
}
footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  text-align: center;
}
.footer-text {
  line-height: 60px;
  font-size: 16px;
  color: #fafafa;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }
  .header-container {
    width: 90%;
  }
  .logo {
    height: 50px;
  }
  .menu-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #fafafa;
    background-color: #ec715f;
    margin: 5px 0;
  }
  .menu-line {
    width: 30px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }
  .menu-line:first-child {
    margin-top: 12px;
  }
  .menu-line:last-child {
    margin-bottom: 12px;
  }
  .navbar,
  .nav-list,
  .nav-link {
    display: none;
  }
  #mv {
    background-image: url(img/code.png);
  }
  .mv-container {
    width: 90%;
  }
  .mv-heading {
    font-size: 40px;
  }
  .mv-text {
    font-size: 18px;
  }
  .heading-container,
  .pf-container,
  .f-container,
  .p-container,
  .c-container {
    width: 90%;
    margin: 0 auto;
  }
  .pf-container {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .pf-img {
    margin-right: 0;
  }
  .pf-img:nth-last-child(-n + 3) {
    margin-bottom: 10px;
  }
  .pf-img6 {
    margin-bottom: 0;
  }
  .pf-img:nth-child(odd) {
    display: none;
  }
  .f-container {
    display: block;
  }
  .strength-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .strength-box:last-child {
    margin-bottom: 0;
  }
  .p-container {
    display: block;
  }
  .face-img-box,
  .profile-box {
    width: 100%;
    text-align: center;
  }
  .face-img-box {
    margin-bottom: 20px;
  }
  .c-container {
    display: block;
  }
  .info-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .info-heading:last-of-type {
    margin-top: 20px;
  }
  .sns-icon {
    margin-right: 8px;
  }
}
